body {
  background: #fafafa;
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.svg-soc {
  fill: transparent;
  stroke: white;
}

.svg-soc:hover,
.svg-header:hover {
  stroke: rgb(253, 146, 34);
}

.hero-link-down div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 14px;
}

/* .svg-hero { */
/* display: flex; */
/* justify-content: center; */
/* border-radius: 50%; */
/* border-color: white; */
/* background-color: white; */
/* margin-left: 14px; */
/* } */

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.all-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.all-title span {
  color: #fd9222;
}

/* ------------------------- */
/* --HEADER FIRST SECTION-- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.container-header {
  display: flex;
  gap: 90px;
  align-items: center;
}

.nav-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-italic {
  color: #111;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: -0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-header-list {
  display: flex;
  gap: 24px;
}

.menu-header-item {
}

.menu-header-link {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}

.soc-header-list {
  display: flex;
  gap: 14px;
}

.svg-header {
  fill: transparent;
  stroke: #111;
  display: flex;
}

.soc-header-item {
}

.soc-header-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}

/* ------------------------- */
/* <!-- HERO FIRST SECTION --> */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0),
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/images/Hero/chocolate_main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-button-buy {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border-radius: 100px;
  background: #fd9222;
  padding: 14px 40px;
  border: none;
}

/* .hero-button-buy:hover, */
.hero-button-buy:active {
  background: #fcf1e0;
  color: rgb(253, 146, 34);
}

.hero-link-nav {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
  margin-left: 14px;
  background-color: transparent;
}
.hero-link-nav:active {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero-link-down {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}

/* ----------------------------- */
/* <!-- FEATURES SECOND SECTION --> */

.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
  position: relative;
}

.features-item:not(:last-child):after {
  content: "";
  width: 1px;
  height: 124px;
  right: -44px;
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
}

.svg-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 19px;
}

.svg-features svg {
}

.features-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.features-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}

/* ----------------------------- */
/* <!-- TASTE THIRD SECTION --> */

.taste {
  padding-top: 120px;
}

.title-taste {
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
  margin: 0 auto 50px;
  max-width: 486px;
}

.taste-list {
  display: flex;
  gap: 24px 32px;
  flex-wrap: wrap;
}

.taste-item {
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-item:nth-child(4n + 1) {
  border-radius: 15px;
  background: #fd9222;
}

.taste-item:nth-child(2n + 2) {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
}

.taste-item:nth-child(4n + 3) {
  border-radius: 15px;
  background: #1e1823;
}

.taste-img {
}

.taste-subtitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin-top: 36px;
  padding-left: 5px;
}

.black-text {
  color: #111;
}

/* ----------------------------- */
/* <!-- MADE FOURTH SECTION --> */

.made {
  padding-top: 120px;
}

.made-title {
  margin: 0 auto;
  margin-bottom: 50px;
}

.made-container {
  display: flex;
  gap: 20px;
}

.made-block {
  border-radius: 15px;
  background: #fff;
  padding: 32px;
  /* margin-left: 20px; */
}

.made-img {
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-list {
}

.made-item {
  display: flex;
  color: #111;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid rgb(236, 237, 237);
  background: rgb(76, 76, 76);
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 5px;
  margin-right: 8px;
}

.made-item:not(:last-child) {
  margin-bottom: 28px;
}

/* ----------------------------- */
/* <!-- PRODUCTS FIFTH SECTION --> */

.products {
  padding-top: 120px;
}

.products-title {
  margin: 0 auto;
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  text-align: center;
}

.products-img {
}

.products-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32; /* 133.333% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 8px;
}

.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.02em;
}

.products-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  margin-top: 18px;
}

/* ----------------------------- */
/* <!-- SELLERS SIXTH SECTION --> */

.sellers {
  padding-top: 120px;
}

.sellers-container {
  display: flex;
  gap: 16px;
}

.img-container {
}

.img-container:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-container:hover .hover-container-sellers {
  transform: translateY(0%);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.sellers-title {
  margin: 0 auto;
  margin-bottom: 50px;
}

.container-img-sellers {
  position: relative;
  overflow: hidden;
}

.hover-container-sellers {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  top: 0;
  border-radius: 15px 15px 0px 0px;
  backdrop-filter: blur(5px);
  background: linear-gradient(
    161.15deg,
    rgba(253, 253, 255, 0.1) 1.868%,
    rgba(8, 2, 21, 0) 110.929%
  );
  height: 100%;
  transform: translateY(100%);
  transition-duration: 300ms;
}

.hover-sellers-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.sellers-img {
}

.sellers-subtitle {
  text-align: center;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32; /* 133.333% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

/* ----------------------------- */
/* <!-- LOVED SEVENTH SECTION --> */

.loved {
  padding-top: 120px;
  padding-bottom: 120px;
}

.loved-title {
  margin: 0 auto;
  margin-bottom: 91px;
}

.loved-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.loved-item {
  padding: 56px 24px 24px 24px;
  width: calc((100% - 56px) / 3);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  position: relative;
}

.img-name {
}

.loved-img {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
}

.loved-name {
  text-align: center;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
  margin-bottom: 24px;
}

.loved-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

.loved-btn {
  display: block;
  margin: 0 auto;
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  background-color: transparent;
}

.loved-btn:active {
  background: #fd9222;
  color: #fff;
}

/* ----------------------------- */
/* <!-- FOOTER --> */

.footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.up-footer {
  display: flex;
}

.up-footer {
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
  margin-right: auto;
}

.footer-subtitle span {
  color: #fd9222;
}

.contact-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.footer-social-networks {
  margin-right: 50px;
}

.footer-soc-list {
  display: flex;
  /* margin-top: 14px; */
  gap: 14px;
}

.footer-soc-logo {
}

.footer-soc-link {
}

.contact-container {
}

.footer-adress {
}

.footer-adress-list {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 4px; */
}

.footer-adress-item + .footer-adress-item {
  margin-top: 4px;
}

.footer-adress-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.bt-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
}

.footer-nav-list {
  display: flex;
  gap: 24px;
}

.footer-nav-item {
}

.footer-nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.13; /* 114.286% */
  letter-spacing: -0.02em;
}

.input-mail {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 0px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02;
}

.button-subs {
  font-family: inherit;
  border-radius: 100px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  height: 52px;
  line-height: normal;
  padding-left: 40px;
  padding-right: 40px;
}

/* FORM */
.container-page-form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #1d1721b4;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-form {
  width: 517px;
  min-height: 794px;
  position: absolute;
  border-radius: 15px;
  background-color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.btn-close {
  background-color: transparent;
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icons {
  stroke: #111;
}

.subtitle-form {
  text-align: left;
  max-width: 298px;
  margin-bottom: 42px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}
.subtitle-form-span {
  color: #fd9222;
}
.modal-form {
}
.input-container {
  margin-bottom: 18px;
}

.input-container label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-label {
}
.container-form-svg {
  margin-top: 8px;
  position: relative;
}

.icons-form {
  fill: transparent;
  stroke: #404040;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 24px;
}
.input-form {
  width: 100%;
  outline: transparent;
  color: #1e1823;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding-left: 62px;
  height: 68px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
}

.input-form:focus {
  border-color: #fd9222;
}

.input-form:focus + .icons-form {
  stroke: #fd9222;
}

.comment-label {
}

.check-input {
}
.check-text {
}

.comment-area {
  width: 100%;
  background-color: transparent;
  outline: transparent;
  color: #1e1823;
  padding: 24px 22px;
  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  height: 137px;
  margin-top: 8px;
}

.comment-area::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.check-icon {
  /* fill: wheat;
  stroke: #404040; */
}
.form-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: #fd9222;
}

.check-text {
  line-height: normal;
  display: flex;
  align-items: center;
  position: relative;
}

.link-policy {
  text-decoration: underline;
  color: #fd9222;
}

.check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-input:checked + .check-text span {
  background-color: #fd9222;
  border: none;
  fill: #ffffff;
}
/* ------------- */
