body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.all-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.all-title span {
  color: #fd9222;
}

/* -----------Header------------ */
.logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-italic {
  color: #111;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: -0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.menu-header-list {
}
.menu-header-item {
}
.menu-header-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.2em;
}
.soc-header-list {
}
.soc-header-item {
}
.soc-header-link {
}
/* ------------------------- */
/* ------------Hero------------- */
.hero {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  letter-spacing: -0.03em;
}
.hero-button-buy {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.hero-link-nav {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.hero-link-down {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
/* ----------------------------- */
/* -----------Features---------- */
.features {
  background: #1e1823;
}
.features-list {
}
.features-item {
}
.features-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.features-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}
/* ----------------------------- */
/* -----------Taste---------- */
.taste {
}
.title-taste {
}
.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
.taste-list {
}
.taste-item {
}
.taste-img {
}
.taste-subtitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.black-text {
  color: #111;
}
/* ----------------------------- */
/* -----------Made---------- */
.made {
}
.made-title {
}
.made-img {
}
.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32; /* 133.333% */
}
.made-list {
}
.made-item {
  color: #111;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
/* -----------Products---------- */
.products {
}
.products-title {
}
.products-list {
}
.products-item {
}
.products-img {
}
.products-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32; /* 133.333% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.02em;
}
.products-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* ----------------------------- */
/* -----------Sellers---------- */
.sellers {
}
.sellers-title {
}
.sellers-img {
}
.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32; /* 133.333% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ----------------------------- */
/* -----------Loved---------- */
.loved {
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-img {
}
.loved-name {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32; /* 133.333% */
}
.loved-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* ----------------------------- */
/* -----------Loved---------- */
.footer {
  background: #1e1823;
}
.footer-subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.footer-subtitle span {
  color: #fd9222;
}

.contact-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
}
.footer-soc-list {
}
.footer-soc-logo {
}
.footer-soc-link {
}
.footer-adress {
}
.footer-adress-list {
}
.footer-adress-item {
}
.footer-adress-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.13; /* 114.286% */
  letter-spacing: -0.02em;
}
